/* main section */
.main_section{
    width : 768px;
    margin-left : auto;
    margin-right : auto;
}

/* main section */



/* header section */
.header-section{
    margin-top: 5.625rem;
}
.header-section .profile{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.header-section .profile img{
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
}
.header-section .profile .profile-info{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 1rem;
}
.header-section .profile .profile-info .desc{
    white-space: pre-wrap;
    font-size: 1.125rem;
    line-height: 1.5;
    margin-top: 0.25rem;
    color: rgb(73, 80, 87);
    letter-spacing: -0.004em;
}
.socila{
    color: rgb(173, 181, 189);
    display: flex;
}
.socila a{
    color: inherit;
    display: block;
}
.socila div + div, .socila div + svg{
    margin-left: 1rem;
}
.socila svg{
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}
/* header section */



.line{
    background: rgb(233, 236, 239);
    width: 100%;
    height: 1px;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}



/* nav section */
.nav-section{
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.nav-section .nav-margin{
    display: flex;
    position: relative;
}
.nav-section .nav-margin h2{
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-size: 1.325rem;
    width: 8rem;
    height: 3rem;
    color: rgb(73, 80, 87);
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s;
    font-weight: 600;
}
.nav-margin .underline{
    width: 8rem;
    height: 2px;
    background: rgb(32, 201, 151);
    position: absolute;
    bottom: -2px;
    transition: left 0.25s ease-in-out 0s;
}
/* nav section */



/* nav section */
.serch-section{
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-bottom: 2rem;
}
.serch-div{
    display: flex;
    height: 2.25rem;
    border: 1px solid rgb(173, 181, 189);
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.125s ease-in 0s;
    cursor: text;
}
.serch-div svg{
    transition: all 0.125s ease-in 0s;
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    fill: rgb(173, 181, 189);
    flex-shrink: 0;
}
.serch-div input{
    transition: all 0.125s ease-in 0s;
    font-size: 0.875rem;
    flex: 1 1 0%;
    display: block;
    line-height: 1rem;
    height: 1rem;
    padding: 0px;
    border: none;
    outline: 0px;
    color: rgb(73, 80, 87);
    min-width: 0px;
}
/* nav section */



/* contents section */
.contents-acticle{
    padding-top: 4rem;
    padding-bottom: 4rem;
    line-height: 1.5;
}
.contents-acticle:first-child{
    padding-top: 0;
}
.contents-acticle + .contents-acticle{
    border-top: 1px solid rgb(233, 236, 239);
}
.contents-acticle > a{
    color: inherit;
    text-decoration: none;
}
.contents-acticle a .acticle-thumbnail{
    padding-top: 52.356%;
    margin-bottom: 1rem;
    width: 100%;
    position: relative;
}
.contents-acticle a .acticle-thumbnail img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.contents-acticle a h2{
    font-size: 1.5rem;
    margin: 0px;
    color: rgb(33, 37, 41);
    word-break: keep-all;
}
.contents-acticle p{
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: rgb(73, 80, 87);
    word-break: keep-all;
    overflow-wrap: break-word;
}
.contents-filter{
    margin-bottom: -0.875rem;
}
.contents-filter p{
    margin-bottom: 0.875rem;
    background: rgb(241, 243, 245);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    border-radius: 1rem;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    margin-right: 0.875rem;
    color: rgb(12, 166, 120);
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
}
.time-info{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
    color: rgb(134, 142, 150);
    font-size: 0.875rem;
}
.separator{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
/* contents section */
